/* styles in src/style directory are applied to the whole page */
body {
  margin: 0;
  padding: 0;
  font: 18px/1.5 Lato, sans-serif;
}
.container{
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn{
  margin: 30px 0;
  background: green;
  border: none;
  color: #fff;
  font-size: 115%;
  border-radius: 3px;
  padding: 10px 30px;
  text-transform: capitalize;
}
.disabled{
  opacity: 0.6;
  pointer-events: none;
}
